* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

@media (max-width: 768px) {
    body {
        display: grid;
        grid-template-rows: 1fr 3fr 1fr;
    }
    
    header {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        background-color: whitesmoke;
        position: fixed;
        width: 100%;
    }
    
    /* Grid boxing */
    main {
        background-color: white;
    }
    
    /* Grid boxing
    footer {
        background-color: lightskyblue;
    } */
    
    .iconTitle {
        width: 90%;
        height: 100%;
        padding: 0.5rem;
    }
    
    h1 {
        font-size: 2rem;
        color: #3d342d;
        font-family: 'Playfair Display SC', serif
    }
    
    .infoTitlediv {
        margin-top: 5%;
    }
    
    .h1div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: -10%;
    }
    
    .buttonsdiv {
        background-color: whitesmoke;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5%;
        margin-left: -5%;
    }
    
    li {
        list-style-type: none;
        padding: 0.5rem;
        font-size: 0.85rem;
        font-family: 'Playfair Display SC', serif;
        color: #3D2A1A;
    }
    
    .liStyle, .titleStyle {
        text-decoration: none;
        color: #3D2A1A;
    }

    .homeHover:hover, .aboutUsHover:hover, .productsHover:hover, .directionsHover:hover, .workWithUsHover:hover{
        font-weight: bold;
    }
    
    .imgCellar, .imgCellardiv {
        width: 100%;
        height: 100%;
        margin-top: 10%;
    }

    .footdiv {
        margin-top: 5%;
        text-align: center;
        padding: 2em;
        font-family: 'Playfair Display SC', serif;
        background-color: #3d342d;
        color: white;
    }

    .footTitlelink {
        text-decoration: none;
        font-family: 'Playfair Display SC', serif;
        background-color: #3d342d;
        color: white;
    }
    
    .pageNotValued {
        font-size: 0.8rem;
    }

    .boxIframeaboutUs{
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-top: 20%;
    }
    .aboutUsVideo{
        display: inline-block;
        width: 100%;
        height: 400px;
    }
    .paboutUs{
        padding: 2rem;
        color: black;
        display: flex;
        justify-content: center;
        font-family: 'Urbanist', sans-serif;
        font-size: 1.2em;
    }

    .employee1, .employee2, .employee3{
        padding: 1rem;
        width: 35%;
        font-style: italic;
    }

    .boxImgWines{
        width: 100%;
    }
    .imgWinesA, .imgWinesB, .imgBarricks{
        width: 100%;
    }
    .mainProducts{
        margin-top: 20%;
    }
    .pProducts{
        text-align: center;
        padding: 3rem;
        color: #3D2A1A;
        font-weight: bold;
        font-family: 'Urbanist', sans-serif;
    }

    .boxImgDirections{
        padding: 0.5rem;
    }
    .boxImgDirectionsFondo{
        top: 100px;
        width: 100%;
        opacity: 0.6;
        z-index: 0;
    }
    .mainDirections{
        background-color: #2C5C41;
        z-index: -1;
        margin-top: 10%;
    }
    .direction1{
        padding: 2rem;
        color: white;
        font-size: 1.25rem;
        width: 100%;
    }
    .imgFondo{
        width: 100%;
    }
    .imgMaps {
        width: 100%;
    }
    .mainSectionDirections{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .h3Directions{
        position: absolute;
        margin-top: 130px;
        margin-left: 18%;
        z-index: 1;
        text-transform: uppercase;
        font-family: 'Playfair Display SC', serif;
        font-weight: normal;
        color: white;
    }
    .mainWork{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem;
        width: 100%;
        margin-top: 100px;
    }
    .workForm{
        color: black;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
        display: inline-block;
    }
    .imgWork{
        width: 100%;
    }
    .li:hover{
        font-weight: bold;
    }
    .homeBold, .aboutusBold, .productsBold, .directionsBold, .workwithusBold{
        font-weight: bold;
    }
}

@media (min-width: 768px) {
    body {
        display: grid;
        grid-template-rows: 1fr 3fr 1fr;
    }
    
    header {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        background-color: whitesmoke;
        position: fixed;
        width: 100%;
    }
    
    /* Grid boxing */
    main {
        background-color: white;
    }
    
    /* Grid boxing
    footer {
        background-color: lightskyblue;
    } */
    
    .iconTitle {
        width: 150px;
        padding: 1rem;
    }
    
    h1 {
        font-size: 2rem;
        color: #3d342d;
        font-family: 'Playfair Display SC', serif
    }
    
    .infoTitlediv {
        margin-top: 3.5%;
    }
    
    .h1div {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-left: -14%;
        margin-top: 1%;
    }
    
    .buttonsdiv {
        background-color: whitesmoke;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-top: -3.7%;
    }
    
    li {
        list-style-type: none;
        padding: 1rem;
        font-size: 1.2rem;
        font-family: 'Playfair Display SC', serif;
        color: #3D2A1A;
    }
    
    .liStyle, .titleStyle {
        text-decoration: none;
        color: #3D2A1A;
    }

    .homeHover:hover, .aboutUsHover:hover, .productsHover:hover, .directionsHover:hover, .workWithUsHover:hover{
        font-weight: bold;
    }
    
    .imgCellar, .imgCellardiv {
        width: 100%;
        height: 100%;
        margin-top: 5%;
    }
    
    .footdiv {
        margin-top: 5%;
        text-align: center;
        padding: 2em;
        font-family: 'Playfair Display SC', serif;
        background-color: #3d342d;
        color: white;
    }

    .footTitlelink {
        text-decoration: none;
        font-family: 'Playfair Display SC', serif;
        background-color: #3d342d;
        color: white;
    }
    
    .pageNotValued {
        font-size: 0.8rem;
    }

    .boxIframeaboutUs{
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-top: 10%;
    }
    .aboutUsVideo{
        display: inline-block;
        width: 100%;
        height: 500px;
    }
    .paboutUs{
        padding: 2rem;
        color: black;
        display: flex;
        justify-content: center;
        font-family: 'Urbanist', sans-serif;
        font-size: 1.2em;
    }

    .employee1, .employee2, .employee3{
        padding: 1rem;
        width: 15%;
        font-style: italic;
    }

    .boxImgWines{
        width: 100%;
    }
    .imgWinesA, .imgWinesB, .imgBarricks{
        padding: 0;
        width: 33%;
    }
    .mainProducts{
        margin-top: 10%;
    }
    .pProducts{
        text-align: center;
        padding: 3rem;
        color: #3D2A1A;
        font-weight: bold;
        font-family: 'Urbanist', sans-serif;
    }

    .boxImgDirections{
        padding: 2rem;
        top: 100px;
    }
    .boxImgDirectionsFondo{
        top: 100px;
        width: 100%;
        opacity: 0.6;
        z-index: 0;
    }
    .mainDirections{
        background-color: #2C5C41;
        z-index: -1;
        margin-top: 100px;
    }
    .direction1{
        padding: 2rem;
        color: white;
        font-size: 1.25rem;
    }
    .imgFondo{
        width: 100%;
    }
    .mainSectionDirections{
        display: flex;
        text-align: center;
        align-items: center;
    }
    .h3Directions{
        position: absolute;
        margin-top: 150px;
        margin-left: 38%;
        z-index: 1;
        text-transform: uppercase;
        font-family: 'Playfair Display SC', serif;
        font-weight: normal;
        color: white;
    }

    .mainWork{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem;
        width: 100%;
        margin-top: 100px;
    }
    .workForm{
        color: black;
        text-align: center;
        font-family: 'Playfair Display SC', serif;
        display: inline-block;
    }
    .imgWork{
        width: 50%;
    }
}